{% extends "layout.html" %}

{% set aktiva_lapa = 'home' %}

{% block saturs %}



<h1 style="text-align: center; color:rgb(218, 111, 40);"> Šis ir mans ieskaites darbs progresīvajās programmēšanas metodēs </h1>
<h2 style="text-align: center; color:rgb(97, 63, 40);"> Cik garš ir pitons? </h2>


<p style="text-align:center;"><img src="/static/img/pitona_garums.jpg" alt="pitons"></p>

<p style="text-align:right font: optional;">Padomju laikos iznāca multiplikācijas filmu sērijas par Pitonu, pērtiķīti, zilonīti un papagaili. Ņemot vērā šī programmēšanas kursa saistību ar flask un pitonu, kā arī paterēto laiku stundās, rodas zināma līdzība ar to, cik kurš students (zvērs) būs paterējis laiku, lai sagatavotu šo mājasdarbu.</p>

<p style="text-align:right font: optional;">Kāds zilonītis noteikti to būs veicis ātri un pitons tiks izmērīts 2 ziloņos. Varbūt dzīvē tās ir divas dienas vai pat divas stundas. Cita opcija pitonu mērīt bija pērtiķīšos. Kopā sanāca 5 pērtiķīši. Ja to pārvērš piecos vakaros pavadītu ar pitonu, tad tas jau ir cienījami.</p>

<div class="container">
<div class="row">
    <div class="col-md">
      <img src="/static/img/zilonis.jpg" alt="zilonis" style="width:40%">
    </div>
    <div class="col-md">
      <img src="/static/img/pertikis.jpg" alt="pertikis" style="width:40%">
    </div>
    <div class="col-md">
        <img src="/static/img/38papagaili.jpeg" alt="papagailis" style="width:40%">
    </div>
</div>
<br>
<p style="text-align:right font: optional;">Taču es šajā brīdi esmu papagailis. Es varēju pieslēgties kursa no brīža uz brīdi, arī atkārtojumā lekciju kursu skatījos saraustīti (cik labi, ka Youtube var uzlikt skatīšanās ātrumu 1,5x) un arī darbs sastāv no daudz mazām izmaiņām no pasniedzēja gihtub repozitorija.</p>

<h3 style="text-align: center; color:rgb(97, 63, 40);">Patiesi, man pitons sastāv no 38 papagaiļiem :)</h3>



{% endblock %}
    


